{% extends "base_usuario.html" %}
{% block body %}
<form class='form-signin' action="{% url 'registrar' %}" method="POST">
  {% csrf_token %}
  <h2 class="form-signin-heading">Crie seu usuário</h2>

  <input id='id_email' name='email' type="email" class='form-control' placeholder='Email' required>
  <input id='id_nome' name='nome' type="text" class='form-control' placeholder='Nome' required>
  <input id='id_senha' name='senha' type="password" class='form-control' placeholder='Senha' required>
  <input id='id_telefone' name='telefone' type="tel" class='form-control' placeholder='Telefone'>
  <input id='id_nome_empresa' name='nome_empresa' type="text" class='form-control' placeholder='Empresa'>

  <hr/>

  <button class='btn btn-success btn-lg btn-block' type='submit'>Registrar</button>

</form>
{% endblock%}